In [1]:
import numpy as np
import pandas as pd

In [2]:
df_081 = pd.read_csv(r"C:\Users\szjt\Downloads\tmlcc-2021\tmlcc-2021\submission081_045_055\submission.csv")
df_081.head()

      id  CO2_working_capacity [mL/g]
0  68614                   179.487730
1  68615                    67.685838
2  68616                    66.792752
3  68617                    61.510965
4  68618                    60.656217

In [3]:
df_090 = pd.read_csv(r"C:\Users\szjt\Downloads\tmlcc-2021\tmlcc-2021\submission090_kaggle_v3_submission2\submission.csv")
df_090.head()

      id  CO2_working_capacity [mL/g]
0  68614                   175.208685
1  68615                    71.392378
2  68616                    65.946187
3  68617                    62.085071
4  68618                    57.938218

In [4]:
blended_50_50 = 0.5*df_081['CO2_working_capacity [mL/g]'] + 0.5*df_090['CO2_working_capacity [mL/g]']
index = pd.Series([str(i) for i in (np.arange(68614,85614))])
submission = pd.DataFrame([index, blended_50_50]).T
submission.columns = ['id','CO2_working_capacity [mL/g]']
submission = submission.set_index('id')
submission.to_csv('submission_blended.csv')
submission

      CO2_working_capacity [mL/g]
id
68614                     177.348
68615                     69.5391
68616                     66.3695
68617                      61.798
68618                     59.2972
...                           ...
85609                     -7.3495
85610                     3.16473
85611                   -0.101537
85612                   -0.173732
85613                    -5.69501

[17000 rows x 1 columns]

In [5]:
submission.mean()

CO2_working_capacity [mL/g]    107.920968
dtype: float64