In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\szjt\Downloads\tmlcc-2021\tmlcc-2021\submission_068\submission.csv")
df.head()

      id  CO2_working_capacity [mL/g]
0  68614                   181.929199
1  68615                    69.646057
2  68616                    67.732107
3  68617                    62.026967
4  68618                    60.561081

In [3]:
df_prem = pd.read_csv(r"C:\Users\szjt\Downloads\tmlcc-2021\tmlcc-2021\e09630cdcdc39ed00007efdd854b37c4b52aa20e0e7e5e6824dbb2b9ba81be11 (1)\submission.csv")
df_prem.head()

   MOFname  CO2_working_capacity [mL/g]
0    68614                   176.503713
1    68615                    65.290014
2    68616                    65.644651
3    68617                    60.880296
4    68618                    60.772495

In [4]:
blended_55_45 = 0.55*df['CO2_working_capacity [mL/g]'] + 0.45*df_prem['CO2_working_capacity [mL/g]']
index = pd.Series([str(i) for i in (np.arange(68614,85614))])
submission = pd.DataFrame([index, blended_55_45]).T
submission.columns = ['id','CO2_working_capacity [mL/g]']
submission = submission.set_index('id')
submission.to_csv('submission_blended.csv')
submission

      CO2_working_capacity [mL/g]
id
68614                     179.488
68615                     67.6858
68616                     66.7928
68617                      61.511
68618                     60.6562
...                           ...
85609                    -7.21515
85610                     2.80784
85611                     1.07245
85612                     -0.4131
85613                    -5.58773

[17000 rows x 1 columns]

In [5]:
submission.mean()

CO2_working_capacity [mL/g]    108.51972
dtype: float64